# Database
DATABASE_URL=DATABASE_URL

# API Server
PORT=PORT

# JWT
JWT_SECRET=JWT_SECRET
JWT_ACCESS_EXPIRY=JWT_ACCESS_EXPIRY

# Auth
BCRYPT_SALT_ROUNDS=BCRYPT_SALT_ROUNDS
REFRESH_TOKEN_EXPIRY_DAYS=REFRESH_TOKEN_EXPIRY_DAYS

# Frontend URL (for CORS)
FRONTEND_URL=FRONTEND_URL
